/Client Java/ClientJavaFrame/nbproject/private/
/Client Java/ClientJavaFrame/build/
/04_Buoi_14_10_20/WebServer/nbproject/private/
/04_Buoi_14_10_20/WebServer/build/
/04_Buoi_14_10_20/WebServer/dist/
/04_Buoi_14_10_20/WebApplication1/nbproject/private/
/04_Buoi_14_10_20/WebApplication1/build/
/04_Buoi_14_10_20/vd_webservice/nbproject/private/
/04_Buoi_14_10_20/vd_webservice/build/
/04_Buoi_14_10_20/vd_webservice/dist/
/04_Buoi_14_10_20/test/nbproject/private/
/04_Buoi_14_10_20/test/build/
/04_Buoi_14_10_20/hao/nbproject/private/
/04_Buoi_14_10_20/hao/build/
/04_Buoi_14_10_20/javaServer/build/
/04_Buoi_14_10_20/javaServer/nbproject/private/
/04_Buoi_14_10_20/javaServer/dist/
/04_Buoi_14_10_20/JavaClient/nbproject/private/
/04_Buoi_14_10_20/JavaClient/build/